.dashboard-container{
    display: flex;
    flex-direction: column

}

.dashboard-content{
    display:flex;
    flex-direction: row;
}

.widgets{
    display: flex;
    flex-direction: row;    gap: 15px;
    margin: 20px 0
}

.dashboard-container2{
    display: flex;
    flex-direction: column;
    gap: 15px;
margin-top: 20px;
margin-left: 15px;
}